#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.home {
  max-width: 720px;
  margin: 0 auto;
  padding: 4rem 1.5rem;
}

.home h1 {
  font-size: 3rem;
}

.home-subtitle {
  font-size: 1.25rem;
  color: #d4af37; /* gold */
  margin: 0.5rem;
}

.actions {
  margin-top: 2rem;
  display: flex;
  gap: 1rem;
  margin-left: 4.5rem;
}

.roster {
  padding: 2rem 1.5rem;
}

.roster-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.fighter-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: 1.5rem;
}

.fighter-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem 1rem;
  margin-bottom: 0.5rem;
  background-color: #0b0b0b;
  border: 1px solid #1f1f1f;
  border-radius: 6px;
  list-style: none;
}

.tabs a {
  color: #fff; /* default white */
  text-decoration: none;
  padding: 0.5rem 0;
  font-weight: 500;
  border-bottom: 2px solid transparent;
  transition: all 0.2s ease;
}

.fighter-card a {
  color: white;
  text-decoration: none;
}

.fighter-card a:hover {
  color: #d4af37;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 2rem 1rem;
  color: white;
}

.tabs {
  display: flex;
  gap: 1.5rem;
  margin-bottom: 1rem;
}

/* .tabs a {
  color: #fff;
  text-decoration: none;
  padding: 0.5rem 0;
  font-weight: 500;
  border-bottom: 2px solid transparent;
  transition: all 0.2s ease;
} */

.tabs a.active {
  border-bottom: 2px solid #d4af37; /* gold underline */
  color: #d4af37;
}

hr {
  border: 0;
  border-top: 1px solid #1f1f1f; /* subtle divider */
  margin-bottom: 1.5rem;
}
